[mysqld]
user		= rocksdb
port		= 40000
socket		= /var/lib/rumrocks/foundation-sql/mysql.sock
datadir		= /var/lib/rumrocks/mysql
log-error       = /var/log/foundation-sql/mysql.log
pid-file        = /run/foundation-sql/mysql.pid

[client]
user		= rocksdb
port		= 40000
socket		= /var/lib/rumrocks/foundation-sql/mysql.sock
